<p>
<hr>
<p>

<!-- Static comments -->
<!-- Partly based on Made Mistakes' comments.html file: -->
<!-- https://github.com/mmistakes/minimal-mistakes/blob/master/_includes/comments.html -->
<!-- Also partly based on Eduardo Boucas' reviews.html file -->
<!-- https://github.com/eduardoboucas/popcorn/blob/gh-pages/_includes/reviews.html -->

{% if site.data.comments[page.slug] %}

  <h3>
    {% if site.data.comments[page.slug].size > 1 %}
      {{ site.data.comments[page.slug] | size }}
    {% endif %}
    Komentar:
  </h3>

  <p>
  <hr>

  {% assign comments = site.data.comments[page.slug] | sort %}

  {% for comment in comments %}
    <br>
    <legend><strong>{{ comment[1].name }}</strong><legend>
    <em>{{ comment[1].date | date: "%B %d, %Y" }}</em>
    <p>{{ comment[1].message | markdownify }}
    <hr>
  {% endfor %}
  <p>
{% endif %}

<!-- Comment form -->
<div align="center" id="comment-form-wrapper">
    <h2>Sampaikan saran, kritik, atau pertanyaan</h2><br>
    <form id="comment-form" method="POST" action="https://api.staticman.net/v2/entry/{{ site.repository }}/{{ site.staticman.branch }}/comments">
        
        <input name="fields[name]" type="text" placeholder="Namamu" required>
        <input name="fields[email]" type="email"  placeholder="Alamat emailmu">
        <textarea style="width:100%" name="fields[message]" rows="6" type="text" placeholder="Apa yang ingin kamu sampaikan?"></textarea>

        <input id="submit" type="submit" value="Kirim!">

    </form>
</div>